<div class="flex flex-col h-full">

  <div class="flex items-center justify-center py-6">
    <a routerLink="/feature/analytic">
      <img src="logo.png" alt="Logo" class="w-16 h-16 object-contain" />
    </a>
  </div>

  <nav class="flex-1 mt-6 px-4 space-y-4">

    <a routerLink="/feature/manage-users" class="block py-2 px-4 rounded hover:bg-blue-100">
      Manage Users
    </a>

    <a routerLink="/feature/manage-books" class="block py-2 px-4 rounded hover:bg-blue-100">
      Manage Books
    </a>

    <a routerLink="/feature/manage-categories" class="block py-2 px-4 rounded hover:bg-blue-100">
      Manage Category
    </a>

  </nav>

</div>
