<div class="h-screen flex flex-col md:flex-row overflow-hidden ">

  <!-- Sidebar - Collapsible on mobile -->
  <div class="w-full md:w-1/6 bg-slate-200 sticky md:min-h-screen hidden md:block">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Main Content -->
  <div class="w-full flex flex-col flex-1 sticky  overflow-hidden">

    <!-- Header -->
    <div class="bg-blue-100 shadow">
      <app-header></app-header>
    </div>

    <!-- Main Content Area -->
    <div class="flex-1 bg-white overflow-auto ">
      <div class="container mx-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="bg-gray-100 mt-4 p-1 text-center border-t">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>